.DS_Store
.idea/
.local/
*.iml
node_modules/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/

# iOS
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
.xcode-version
